<launch>

  <node pkg="nowtech_controllers" type="identifier_node" name="left_motor_pid" output="screen" required="true">
    <param name="out_min"         value="-1.0"/>
    <param name="out_max"         value="1.0"/>
    <param name="phase_margin"    value="1.0472"/>
    <param name="max_velocity"    value="100"/>
    <remap from="/pid/sensor" to="/left_motor/velocity"/>
    <remap from="/pid/output" to="/left_motor/voltage_norm"/>
    <remap from="/pid/setpoint" to="/left_motor/command"/>
  </node>

  <node pkg="nowtech_controllers" type="identifier_node" name="right_motor_pid" output="screen" required="true">
    <param name="out_min"         value="-1.0"/>
    <param name="out_max"         value="1.0"/>
    <param name="phase_margin"    value="1.0472"/>
    <param name="max_velocity"    value="100"/>
    <remap from="/pid/sensor"   to="/right_motor/velocity"/>
    <remap from="/pid/output"   to="/right_motor/voltage_norm"/>
    <remap from="/pid/setpoint" to="/right_motor/command"/>
  </node>

</launch>
