<launch>

    <arg name="use_anki_description" default="false"/>

    <arg name="model" default="$(find anki_description)/urdf/vector.xacro" if="$(arg use_anki_description)"/>
    <arg name="model" default="$(find vector_ros_driver)/urdf/vector.urdf.xacro" unless="$(arg use_anki_description)"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="publish_frequency" value="10.0"/>
        <param name="use_gui" value="false"/>
        <rosparam param="source_list">["/vector/joint_states"]</rosparam>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="rate" value="10.0"/>
    </node>

    <node pkg="vector_ros_driver" type="vector_node.py"  name="vector" output="screen"/>
    <node pkg="vector_ros_driver" type="vector_drive.py" name="controller" output="screen"/>
    <node pkg="vector_ros_driver" type="vector_odometry.py" name="odometry" output="screen">
      <param name="publish_tf" value="true"/>
    </node>

</launch>
